{
  "machine": { "gpu": 1, "vram": 0, "cpu": 8000, "ram": 16000 },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": { "Concurrency": 1 },
      "Docker": {
        "Entrypoint": [
          "/app/src/run_model", {{ .request }}
        ],
        "Image": "devlinrocha/qwen2.5-coder-7b@sha256:1a8b0b7c63c1523de1783c9d4afc010859ce0b8f5cc01c810e0f088450a730aa"
      },
      "Engine": "Docker",
      "Network": { "Type": "None" },
      "Outputs": [{ "Name": "outputs", "Path": "/outputs" }],
      "Resources": { "GPU": "1", "CPU": "8", "Memory": "16Gb" },
      "Timeout": 1800,
      "Verifier": "Noop"
    }
  }
}
